---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: argocd
            chart: argo-cd
            chartVersion: 9.4.6
            namespace: argocd
            repoURL: https://argoproj.github.io/argo-helm
            valuesPath: argocd/applications/core/argocd/argocd-values.yaml
            ciOverridesPath: core/argocd/ci-overrides.yaml
            manifestPath: argocd/applications/core/argocd

  template:
    metadata:
      name: "{{name}}"
      namespace: argocd
    spec:
      project: default

      sources:
        - repoURL: "{{repoURL}}"
          chart: "{{chart}}"
          targetRevision: "{{chartVersion}}"
          helm:
            valueFiles:
              - $values/{{valuesPath}}
        - repoURL: https://github.com/St0rmingBr4in/home-kube-flux-config
          targetRevision: HEAD
          ref: values
        - repoURL: https://github.com/St0rmingBr4in/home-kube-flux-config
          targetRevision: HEAD
          path: "{{manifestPath}}"

      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true

        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m

      ignoreDifferences:
        - group: "*"
          kind: "Secret"
          jsonPointers:
            - /data
        - group: "argoproj.io"
          kind: "Application"
          jsonPointers:
            - /status
