---
- name: Install iptables-persistent and netfilter-persistent
  ansible.builtin.apt:
    name:
      - iptables-persistent
      - netfilter-persistent
    state: present
    update_cache: true
    cache_valid_time: 86400

- name: Enable and start netfilter-persistent
  ansible.builtin.systemd:
    name: netfilter-persistent
    enabled: true
    state: started
