---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: traefik-stable
spec:
  statefulSet:
    pod:
      tailscaleContainer:
        env:
          - name: TS_KUBE_SECRET
            value: "traefik-ts-state"
