---
operator:
  verify:
    enabled: false
  traefik:
    namespace: prod-infra

# Disable built-in ingress to use custom IngressRoute
ingress:
  main:
    enabled: false

securityContext:
  runAsUser: 1025

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 1000m
    memory: 512Mi

persistence:
  config:
    enabled: true
    existingClaim: bazarr-config
  media:
    enabled: true
    existingClaim: media-library
    mountPath: /tv
