---
ansible_user: root

k3s_release_version: "v1.30.14+k3s2"
k3s_control_token: "{{ vault_k3s_token }}"
k3s_registration_address: k3s-clusterv2-server1.vms.st0rmingbr4in.lan

k3s_server:
  disable:
    - servicelb
    - traefik
  tls-san:
    - 192.168.72.2
  kubelet-arg:
    - eviction-hard=memory.available<100Mi,nodefs.available<10%,nodefs.inodesFree<5%
    - eviction-soft=memory.available<200Mi,nodefs.available<15%
    - eviction-soft-grace-period=memory.available=30s,nodefs.available=30s
    - eviction-max-pod-grace-period=60
    - system-reserved=memory=500Mi,cpu=100m
    - kube-reserved=memory=500Mi,cpu=100m

k3s_agent:
  kubelet-arg:
    - eviction-hard=memory.available<500Mi,nodefs.available<10%,imagefs.available<15%
    - eviction-soft=memory.available<1Gi,nodefs.available<15%,imagefs.available<20%
    - eviction-soft-grace-period=memory.available=1m30s,nodefs.available=2m,imagefs.available=2m
    - eviction-max-pod-grace-period=60
    - eviction-minimum-reclaim=memory.available=256Mi,nodefs.available=1Gi,imagefs.available=1Gi
    - system-reserved=cpu=100m,memory=1Gi,ephemeral-storage=1Gi
    - kube-reserved=cpu=100m,memory=1Gi,ephemeral-storage=1Gi

k3s_registries:
  mirrors:
    registry.vms.st0rmingbr4in.lan:
      endpoint:
        - "http://registry.vms.st0rmingbr4in.lan:5000"
  configs:
    "registry.vms.st0rmingbr4in.lan:5000":
      tls:
        insecure_skip_verify: true
