---
operator:
  verify:
    enabled: false
  traefik:
    namespace: prod-infra

ingress:
  main:
    enabled: false

resources:
  limits:
    memory: 300Mi
  requests:
    cpu: 100m
    memory: 300Mi

exportarrResources:
  limits:
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 100Mi

securityContext:
  runAsUser: 1031
  runAsGroup: 100

persistence:
  config:
    enabled: true
    existingClaim: radarr-config
  media:
    enabled: true
    existingClaim: media-library
    subPath: Movies
    mountPath: /movies
  downloads:
    enabled: true
    existingClaim: media-downloads
    mountPath: /downloads
